<header>
  <nav>
    <!-- <img src="assets/images/LogoPassCostaRica.jpeg" alt="PASS Logo"> -->
    <ul>
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/donations">Donaciones</a></li>
      <li><a routerLink="/tours">Gira Nacional</a></li>
      <li><a routerLink="/impact">Impacto Social</a></li>
      <li><a routerLink="/slogan">Slogan</a></li>
      <li><a routerLink="/about">Acerca De</a></li>
    </ul>
    <div class="social-icons">
      <a href="https://www.facebook.com/share/VxbvdcorgK1bhtWP/?mibextid=LQQJ4d"><img src="assets/images/facebook.png"
          alt="Facebook"></a>
      <a href="https://www.instagram.com/?next=https%3A%2F%2Fwww.instagram.com%2F"><img
          src="assets/images/Instagram.png" alt="Instagram"></a>
      <a href="#"><img src="assets/images/tiktok.png" alt="TikTok"></a>
      <a href="#"><img src="assets/images/youtube.png" alt="YouTube"></a>
    </div>
  </nav>
</header>