<footer>
  <div class="footer-content">
    <div class="contact-info">
      <h3>Contacto</h3>
      <p>Email: info@passcostarica.org</p>
      <p>Teléfono: +506 86363763</p>
    </div>
    <p>
      <a routerLink="/admin/dashboard" class="admin-link">Ir al Panel de Administración</a>
    </p>
    <!-- <div class="quick-links">
      <h3>Enlaces Rápidos</h3>
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/donations">Donaciones</a></li>
        <li><a routerLink="/tours">Gira Nacional</a></li>
        <li><a routerLink="/impact">Impacto Social</a></li>
        <li><a routerLink="/slogan">Eslogan</a></li>
        <li><a routerLink="/about">Acerca De</a></li>
      </ul>
    </div>
    <div class="social-icons">
      <a href="#"><img src="assets/images/facebook.png" alt="Facebook"></a>
      <a href="#"><img src="assets/images/Instagram.png" alt="Instagram"></a>
      <a href="#"><img src="assets/images/tiktok.png" alt="TikTok"></a>
      <a href="#"><img src="assets/images/youtube.png" alt="YouTube"></a>
    </div> -->
  </div>
</footer>
