<section class="home">
  <div class="hero">
    <!-- <img src="assets/images/LogoChesterPass.jpeg" alt="Hero Image"> -->
    <h1>Bienvenidos a PASS Costa Rica</h1>
    <h1>Conectando Comunidades, Salvando Vidas</h1>
  </div>
  <div class="media">
    <img src="assets/tour-photo.jpg" alt="Tour Photo">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/watch?v=4QIZE708gJ4" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay;
      clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <img src="assets/chester.gif" alt="GIF de Chester">
  </div>
</section>